<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangzf.dynamic.mapper.LogMapper">
    <resultMap id="result" type="com.shangzf.dynamic.entity.Log">
        <id column="id" property="id"/>
        <result column="last_modify_date" property="lastModifyDate"/>
        <result column="register_date" property="registerDate"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <select id="ds2" resultType="com.shangzf.dynamic.entity.Log">
        select * from log
    </select>
    <select id="ds1" resultType="com.shangzf.dynamic.entity.Log">
        select * from log
    </select>
    <select id="ds3" resultType="com.shangzf.dynamic.entity.Log">
        select * from log
    </select>
</mapper>